<?xml version="1.0"?>
<psalm
        strictBinaryOperands="true"
        totallyTyped="true"
        resolveFromConfigFile="true"
        ensureArrayStringOffsetsExist="true"
        ignoreInternalFunctionFalseReturn="false"
        ignoreInternalFunctionNullReturn="false"
        checkForThrowsInGlobalScope="true"
        checkForThrowsDocblock="true"
        addParamDefaultToDocblockType="true"
        allowStringToStandInForClass="true"
        allowPhpStormGenerics="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="."/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
